*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
    
    
body {
    font-family: Arial, sans-serif;
    
    text-align: center;
}

[class^="col-"]{
    padding:10px;
    display: flex;
    flex-direction: column; 
}
.col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc(100%/12*2);
}
.col-3{
    width:25%;
}
.col-4{
    width: calc(100%/12*4);
}
.col-5{
    width: calc(100%/12*5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(100%/12*7);
}
.col-8{
    width: calc(100%/12*8);
}
.col-9{
    width: 75%;
}
.col-10{
    width: calc(100%/12*10);
}
.col-11{
    width: calc(100%/12*11);
}
.col-12{
    width: 100%;
}
#portada {
    background-image: url(imagenes/fire.jpg);
    height: 300px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.content {
    padding: 20px;
    text-align: center; 
}

.content h2, .content p {
    margin: 0 auto; 
    max-width: 800px; 
    padding: 12px 30px;
}


.images {
    display: flex;
    justify-content: space-around;
    padding: 30px;
   
}

#im1{
    background-image: url(imagenes/p1jpg.jpg);
    height: 180px;
    width:  250px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

#im2{
    background-image: url(imagenes/p2.jpg);
    height: 180px;
    width:  250px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;



}

#im3{
    background-image: url(imagenes/p3.jpg);
    height: 180px;
    width:  250px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    justify-content: center;
}
.info{
    background-color: gray;
}



